.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.google-maps {
    width: 80%;
    height: 70%;
    margin: auto;
}

.google-maps h4 {
    margin: auto;
    padding-left: 0.5rem;
}