.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.contact ul {
    margin: 0;
    padding: 0;
}

.contact ul li {
    list-style: none;
    text-align: center;
    /* color: white; */
}

.contact ul li i {
    vertical-align: middle;
}

.contact {
    width: 80%;
    height: 70%;
    display: flex;
    background-color: rgba(200, 202, 202, 0.6);
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}

.contact ul li{
    line-height: 3;
}

.name {
    font-size: 2rem;
    color: rgba(212, 124, 23, 1);
}

.business-hours {
    color: rgba(212,124,23,1);
}

.promotion {
    font-size: 1.5rem;
    /* border-bottom: 1px solid; */
}